
.App {
  font-family: sans-serif;
  text-align: center;
}
.card-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.card {
  width: 50px;
  height: 60px;
  margin-top: 10px;
}
.text-center {
  text-align: center;
  margin-top: 10px;
}
